.main .title {
  text-align: center;
  color: white;
}

.main .subtitle {
  text-align: center;
  color: rgb(187, 134, 21);
  word-spacing: .2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  overflow-x:hidden;
  width:100%;
}

.input {
  margin-top: 3rem;
}

.output {
  margin-top: 3rem;
}

.input-styles {
  background-color: black;
  color: white;
  font-weight: 600;
  height: 370px;
  width: 310px;

  border-radius: 0 0 .4rem .4rem;
}

.input-styles::placeholder {
  color: rgb(230, 219, 219);
}

.input-form {
  background-color: rgb(206, 82, 68);
  border-radius: .4rem;
  
}

.headers_styles {
  display: flex;
}

.input-form h2 {
  font-size: 1.5rem;
  padding: 1rem 0 0 .5rem;
  font-family: monospace;
}

.icon_fcc {
  padding: 1.8rem 0 0 1rem;
}

.output-styles {
  font-family: monospace;
  border-color: rgb(169, 169, 169);
  border-radius: 0 .4rem .4rem .4rem;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 2px;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font: 400 13.3333px Arial;
  overflow: scroll;
  height: 370px;
  width: 310px;
} 

.headers-output {
  display: flex;
  font-family: monospace;
  background-color: rgb(206, 82, 68);
  border-radius: .4rem .4rem 0 0;
  padding: 1rem;
  border-color: rgb(169, 169, 169);
  -webkit-rtl-ordering: logical;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 0;
  padding: .6rem;    
}

.icon_fcc_2 {
  padding: .8rem .5rem 0 0;
}
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
  }

.output-styles {
 
    height: 480px;
    width: 520px;
} 

.input-styles {
  height: 480px;
  width: 520px;
}
}

table {
  border-collapse: collapse;
}

table, tr, th, td {
  border: 1px solid black;
}

