.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  overflow-x:hidden;
  width:100%;
}

.input {
  margin-top: 3rem;
}

.output {
  margin-top: 3rem;
}

.output-styles {
  font-family: monospace;
  border-color: rgb(169, 169, 169);
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 2px;
  text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    overflow: scroll;
    height: 370px;
    width: 310px;
} 

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
  }

.output-styles {
 
    height: 370px;
    width: 480px;
} 

    
}